<h1>ABOUT</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a project that teaches <%= link_to "Ruby on Railz", "http://rubyonrails.org" %> in one month.  This is a sample web app, yo.
</p>