<h1>Welcome to <i>OMR</i>, Sucka!</h1>

<p>
You've found a test project for <%= link_to "One Month Railz", "http://onemonthrails.com" %>, check it out.
</p>

<!-- ^ discarded code: <a href="http://onemonthrails.com">ONE MONTH RAILS</a> -->

<p>
	<%= link_to "Click here!!!", "http://onemonthrails.com" %>
</p>